In [3]:
import pandas as pd
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import mutual_info_regression

In [4]:
df_reg=pd.read_csv('Advertising.csv')
df_cla=pd.read_csv('hearing_test.csv')
df_reg.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
df_cla.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_reg.drop(labels=['sales'], axis=1),df_reg['sales'],test_size=0.3,random_state=101)
X_train1,X_test1,y_train1,y_test1=train_test_split(df_cla.drop(labels=['test_result'], axis=1),df_cla['test_result'],test_size=0.3,random_state=101)

In [8]:
mutual_info = mutual_info_classif(X_train1, y_train1)
mutual_info = pd.Series(mutual_info)
mutual_info.index = X_train1.columns
mutual_info.sort_values(ascending=False)

physical_score    0.453744
age               0.306521
dtype: float64

In [12]:
mutual_info = mutual_info_regression(X_train, y_train)
mutual_info = pd.Series(mutual_info)
mutual_info.index = X_train.columns
mutual_info.sort_values(ascending=False)

TV           0.583751
radio        0.440518
newspaper    0.020371
dtype: float64

In [ ]:
"C:\Users\ACER\Downloads\UNZIP_FOR_NOTEBOOKS_FINAL\simple feature selection"